html
{
    background-color: black;
    color: white;
}
h1
{
    padding-left: 10px;
    font-size: 36px;
}
h2
{
    text-align: center;
    color: white;
}
p
{
    text-align: center;
    color: white;
}

img
{
    display: block;
    margin: 0 auto;
}

nav
{
    color: white;
    font-size: 36px;
}

#navlist li
{
    display: inline;
    padding-left: 0px;
}

#navlist li a:link 
{ 
    color: #448; 
}
#navlist li a:visited 
{ 
    color: #667; 
}

#navlist li a:hover
{
    color: #000;
    background: gray;
    border-color: #227;
}
